* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #4a4e69;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #22223b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.user_con {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user_input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f9a109;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e08e00;
}

.cyrcle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #ee9d06;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 20px auto 0;
    border: 5px solid #21201e;
}

.process {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
